{
  "source": {
    "base_url": "https://letsnetworkhub.com/wp-json/wp/v2",
    "base_id": null
  },
  "target": {
    "base_url": "https://api.airtable.com/v0",
    "base_id": "appWL8gDT9ZaqV8jY"
  },
  "entities": [
    {
      "source_entity_name": "job_listing",
      "target_entity_name": "Art"
    },
    {
      "source_entity_name": "job_listing",
      "target_entity_name": "Artist"
    }
  ]
}
